<?xml version="1.0" encoding="utf-8"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
 
  <connectionStrings>
    <add name="con" connectionString="Data Source=DESKTOP-PMOICB7\SQLEXPRESS;Initial Catalog=aspPreject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add
      name="aspPrejectConnectionString" connectionString="Data Source=DESKTOP-PMOICB7\SQLEXPRESS;Initial Catalog=aspPreject;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
    <system.web>
      <sessionState
        timeout="60"
        mode="InProc"
        />
      <compilation debug="true" targetFramework="4.0" />
    </system.web>

</configuration>
